<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pollutioncms.module.mapper.FirstModuleMapper">
  <resultMap id="BaseResultMap" type="com.pollutioncms.module.domain.FirstModule">
    <id column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <resultMap id="WithSecondModuleMap" type="firstModuleDTO">
    <id column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <collection property="secondModules" ofType="secondModule" columnPrefix="sm_" >
      <id column="uuid" jdbcType="CHAR" property="uuid" />
      <result column="parent_uuid" jdbcType="CHAR" property="parentUuid"/>
      <result column="name" jdbcType="VARCHAR" property="name" />
    </collection>
  </resultMap>
  <select id="selectAllWithSecondModules" resultMap="WithSecondModuleMap">
    select fm.uuid,fm.name,
      sm.uuid sm_uuid,sm.name sm_name,sm.parent_uuid sm_parent_uuid
    from first_module fm left join second_module sm
    ON fm.uuid = sm.parent_uuid
  </select>
</mapper>