<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pollutioncms.module.mapper.ModuleOperateMapper">
  <resultMap id="BaseResultMap" type="com.pollutioncms.module.domain.ModuleOperate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="uuid" jdbcType="CHAR" property="uuid" />
    <result column="parent_uuid" jdbcType="CHAR" property="parentUuid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
</mapper>