<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pollutioncms.module.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.pollutioncms.module.domain.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_cn_name" jdbcType="VARCHAR" property="roleCnName" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
    <result column="can_inherit" jdbcType="INTEGER" property="canInherit" />
  </resultMap>

  <sql id="allParam">
    id,parent_id,role_name,role_cn_name,comment,can_inherit
  </sql>

  <insert id="saveRole">
    <selectKey keyProperty="id" order="BEFORE" resultType="int">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into role
    ( <include refid="allParam"/> )
    select #{id},id,#{role.roleName},#{role.roleCnName},#{role.comment},#{role.canInherit} from role where role_name = #{parentRoleName}
    <!-- 复制父role权限 -->
    <if test="#{role.canInherit} == 1">
      insert into role_auth
        (role_id,module_op_uuid,can_inherit)
        select #{id},module_op_uuid,can_authoriz from role_auth
          where role_id = (select id from role where role_name =#{parentRoleName})
          and can_inherit= 1
    </if>
  </insert>
</mapper>