<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pollutioncms.module.mapper.RoleUserMapper">
  <resultMap id="BaseResultMap" type="com.pollutioncms.module.domain.RoleUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <insert id="addRoles">
    insert into role_user
    (role_id,user_id)
    select id,(select id from user where user_name=#{userName}) from user where role_name in
    <foreach collection="roleNames" separator="," open="(" close=")" item="roleName">
      #{userName}
    </foreach>
  </insert>
  <delete id="removeRoles">
    delete from role_user
    where role_id in
    (select id from role where role_name in
    <foreach collection="roleNames" open="(" close=")" item="roleName" separator=",">
      #{roleName}
    </foreach>
    )
    AND
    user_id=(select id from user where user_name=#{userName})
  </delete>
  <select id="queryRole" resultType="string">
    select role_name from role,role_user
    where role.id =role_user.role_id
    AND
    user_id =(select id from user where user_name=#{userName})
  </select>

  <select id="checkRoleNames" resultType="string">
    select role_name from role
    WHERE
      role_name not in
        <foreach collection="roleNames" separator="," open="(" close=")" item="roleName">
          #{roleName}
        </foreach>
    UNION
    select role_name from role
    WHERE
      role_name in
        <foreach collection="roleNames" separator="," open="(" close=")" item="roleName">
          #{roleName}
        </foreach>
  </select>

</mapper>