<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pollutioncms.module.mapper.RoleUserMapper">
  <resultMap id="BaseResultMap" type="com.pollutioncms.module.domain.RoleUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <delete id="motifyRoles">
    delete from role_user
    where user_id = (select id from user where user_name = #{userName});

    <if test="roleNames != null and roleNames.size != 0">
      insert into role_user
      (role_id,user_id)
      select id,(select id from user where user_name=#{userName}) from role where role_name in
      <foreach collection="roleNames" separator="," open="(" close=")" item="roleName">
        #{roleName}
      </foreach>
    </if>

  </delete>
  <select id="queryRole" resultType="string">
    select role_name from role
    <if test="userName != null">
      ,role_user
      where role.id =role_user.role_id
      AND
      user_id =(select id from user where user_name=#{userName})
    </if>
  </select>
</mapper>