<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pollutioncms.module.mapper.RoleAuthMapper">
  <resultMap id="BaseResultMap" type="com.pollutioncms.module.domain.RoleAuth">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="module_op_id" jdbcType="INTEGER" property="moduleOpId" />
  </resultMap>

  <update id="updateAuths">
    delete from role_auth
    where role_id =(select id from role where role_name = #{roleName});

    <if test="ids != null and ids.size != 0">
      insert into role_auth (role_id,module_id)
      values
      <foreach collection="ids" open="" close="" separator="," item="id">
        ((select id from role where role_name = #{roleName}),#{id})
      </foreach>
    </if>

  </update>
</mapper>