<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pollutioncms.module.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.pollutioncms.module.domain.Role">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_cn_name" jdbcType="VARCHAR" property="roleCnName" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>

  <sql id="allParam">
    id,parent_id,role_name,role_cn_name,comment
  </sql>

  <insert id="saveRole">
    insert into role
    (parent_id,role_name,role_cn_name,comment) values
    ((select id from user where user_name = #{parentUserName}),#{role.roleName},#{role.roleCnName},#{role.comment})
    <selectKey keyProperty="id" order="AFTER" resultType="int">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>
  <select id="checkRoleNames" resultType="string">
    <if test="roleNames != null and roleNames.size != 0">
      select v.val FROM
      <foreach collection="roleNames" item="roleName" separator="union" open="(" close=")">
        select #{roleName} as val
      </foreach>
      v
      where v.val not in (select role_name from role)
    </if>
  </select>
</mapper>