<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pollutioncms.module.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.pollutioncms.module.domain.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="show_name" jdbcType="VARCHAR" property="showName" />
    <result column="user_sex" jdbcType="INTEGER" property="userSex" />
    <result column="user_tel" jdbcType="CHAR" property="userTel" />
    <result column="user_addr" jdbcType="VARCHAR" property="userAddr" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="last_opt_time" jdbcType="TIMESTAMP" property="lastOptTime" />
  </resultMap>

  <select id="listPermissions" parameterType="int" resultType="String">
    select permission
    from module_operate
    WHERE module_operate.uuid in
      (select role_auth.module_op_uuid
      FROM role_auth
      WHERE role_auth.role_id IN
        (SELECT role_id FROM role_user WHERE role_user.user_id = #{id})
      )
  </select>
  <select id="listRoles" parameterType="int" resultType="String">
    select name from role
    WHERE id in
    (select role_id from role_user
      WHERE user_id=#{id}
    )
  </select>
</mapper>